@model net.tkglaser.demos.Models.Phone.DetailsModel

@{
    ViewBag.Title = "tkglaser.net - Phone Validation Demo";
}

<div class="page-header">
    <h2>
        Phone Validation Demo
        <a href="http://www.tkglaser.net/2012/02/phone-number-validation-in-mvc-3.html" class="btn btn-success">
            Read blog post
        </a>
    </h2>
</div>

<div class="form-horizontal">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    <div class="control-group">
        <label class="control-label" for="Phone">Phone Number</label>
        <div class="controls">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            @Html.DisplayFor(model => model.PhoneNumberFormatted)
        </div>
    </div>
    
    <div class="form-actions">
        <input type="submit" value="Validate" class="btn btn-primary" />
    </div>
}
</div>
