@{
    ViewBag.Title = "tkglaser.net - three.js";
}


<div class="page-header">
    <h2>
        Conways Game of Life in 3D using HTML 5 canvas and ThreeJS
        <a href="http://www.tkglaser.net/2012/12/conways-game-of-life-in-3d-using-html-5.html" class="btn btn-success">
            Read blog post
        </a>
    </h2>
    <p>Select, which version to run</p>
</div>

<h3>WebGL version</h3>
<p>
    This version is written for <strong>browsers supporting WebGL</strong>. 
    Rendering is hardware accelerated in most cases and should be <strong>very fluid</strong>.
    If this version <strong>doesn't work</strong> for you, try the <strong>canvas</strong> version below.
</p>
<a href="@Url.Action("WebGL")" class="btn btn-primary">
    Demo
</a>
<hr/>

<h3>Canvas version</h3>
<p>
    This version is written for <strong>all</strong> HTML 5 <strong>browsers</strong>.
    Rendering is software based and is much <strong>slower</strong> than the WebGL variant
    (therefore the grid size has been reduced)
</p>
<a href="@Url.Action("Canvas")" class="btn btn-primary">
    Demo
</a>    