@{
    ViewBag.Title = "tkglaser.net - Conway 3Dv2";
}


<div class="page-header">
    <h2>
        Conways Game of Life in 3D Version 2
        <a href="#" class="btn btn-success disabled">
            Read blog post
        </a>
    </h2>
</div>

<h3>WebGL version</h3>
<p>TBC</p>
<a href="@Url.Action("WebGL")" class="btn btn-primary">
    Demo
</a>
    